@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
/*  Theme preferences  */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background: #004bff;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #004bff25;
}

::-webkit-scrollbar-track {
  background-color: #f3ecff;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  border-radius: 0.625rem;
}

@media only screen and (max-width: 870px) {
  .form-container {
    width: calc(100% - 4em) !important;
  }
  .form__form-input, .search-bar-input, .form__msg-bar {
    width: 100% !important;
  }
}

/*  
            +-+-+-+- browser Dark/light mode preferences -+-+-+-+  
*/
@media (prefers-color-scheme: dark) {
  html {
    -webkit-filter: invert(1) hue-rotate(95deg);
            filter: invert(1) hue-rotate(95deg);
  }
  img {
    -webkit-filter: invert(1) hue-rotate(265deg);
            filter: invert(1) hue-rotate(265deg);
  }
}

html {
  min-width: 350px;
  min-height: 600px;
  background-color: #003abd;
}

body {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  font-family: "Lato", sans-serif;
  background-color: #f3ecff;
  min-height: 100vh;
  background-image: linear-gradient(215deg, #f3ecff 40%, #003abd 100%);
  color: #4e60ff;
  background-repeat: no-repeat;
}

/*  
            +-+-+-+- header (navbar menu) section -+-+-+-+  
*/
.header-sec, .header-sec--chat {
  padding: 1em;
  background-color: #003abd;
  font-size: 1.125rem;
  border-radius: 0 0 10px 10px;
}

.header-sec--chat {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 0.5em 1em;
  z-index: 1;
}

.header-sec__nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-sec__nav-bar > ul[class^="nav-bar__menu"] {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-sec__nav-bar > ul[class^="nav-bar__menu"] a {
  text-decoration: none;
  color: #f3ecff;
}

.nav-bar__menu--user-account {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 150px;
          flex: 0 1 150px;
}

/* 
            +-+-+-+- Log-in/Sign-up form section -+-+-+-+
*/
.main-sec {
  padding: 4em 0 3em;
}

.main-sec--chat,
.main-sec__chat-container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-container {
  position: relative;
  width: 50vw;
  margin: 0 auto;
  background-color: #f3ecff;
  border: 2px solid #4e60ff;
  border-radius: 10px;
  padding: 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 4px #000;
          box-shadow: 0px 0px 4px #000;
}

.form-container__form--login,
.form-container__form--sign-up {
  padding: 1.6em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__form-input, .search-bar-input, .form__msg-bar {
  position: relative;
  width: 70%;
  font-size: 1.25em;
}

.form__form-input input, .search-bar-input input, .form__msg-bar input,
.form__form-input span,
.search-bar-input span,
.form__msg-bar span {
  color: #000;
}


.form__form-input span,
.search-bar-input span,
.form__msg-bar span {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.form__form-input input, .search-bar-input input, .form__msg-bar input {
  border: 0;
  border-bottom: 1px solid #555;
  background: transparent;
  width: 100%;
  padding: 8px 0 5px 0;
}

.form__form-input input:focus, .search-bar-input input:focus, .form__msg-bar input:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid #4e60ff;
}

.form__form-input input:focus + span, .search-bar-input input:focus + span, .form__msg-bar input:focus + span,
.form__form-input input:valid + span,
.search-bar-input input:valid + span,
.form__msg-bar input:valid + span {
  top: -15px;
  font-size: 0.75em;
}

.form__form-input > i, .search-bar-input > i, .form__msg-bar > i {
  position: absolute;
  right: 0;
  padding: 5px 0;
  cursor: pointer;
}

.form__form-input .fa-magnifying-glass, .search-bar-input .fa-magnifying-glass, .form__msg-bar .fa-magnifying-glass {
  font-size: 0.75em;
}

.search-bar-input {
  width: 100%;
}

.search-bar-input input {
  text-align: center;
}

.search-bar-input input[type="text"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

.search-bar-input input[type="text"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

.search-bar-input input[type="search"]::-webkit-search-decoration,
.search-bar-input input[type="search"]::-webkit-search-cancel-button,
.search-bar-input input[type="search"]::-webkit-search-results-button,
.search-bar-input input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.form__form-input--submit {
  padding: 0.6em;
  text-transform: uppercase;
  background-color: #4e60ff;
  border: 0;
  border-radius: 0.375em;
  cursor: pointer;
  width: 70%;
}

.form-input__inp--username-status,
.form__paragraph--error-details {
  margin: 0;
}

.form-input__inp--username-status {
  font-size: 0.625em;
}

.form__paragraph--error-details {
  font-size: 1rem;
  color: #f44336;
  text-align: center;
}

h1.container__text--error {
  margin-top: 0;
  padding-top: 0.67em;
}

.container__text--error {
  color: red;
  text-align: center;
}

.container__text--error:not(h1) {
  font-size: 1.5rem;
}

.form__form-input--profile-pic input {
  display: block;
  margin-top: 0.75em;
}

.form__form-input--profile-pic label {
  color: #000;
}

.form-container__paragraph--success {
  text-align: center;
  padding: 1em 0;
  font-size: 17px;
}

.login-form-container__paragraph--register {
  text-align: center;
  color: #000;
}

.login-form-container__paragraph--register > a {
  text-decoration: none;
  color: #4e60ff;
}

/*  
            +-+-+-+- User Active Css Codes (Chat & Users pages) -+-+-+-+  
*/
.nav-bar__menu--online-user-account {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: calc(100vh - 86px);
      flex-basis: calc(100vh - 86px);
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__user-info,
.users__user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f3ecff;
}

.menu__user-info .user-info__txt,
.users__user-info .user-info__txt {
  padding-left: 1em;
}

.menu__user-info .user-info__txt > p,
.users__user-info .user-info__txt > p {
  font-size: 0.7em;
  margin: 0;
  padding-top: 0.5em;
}

.menu__user-info .user-info__txt .user-info__txt--user-name,
.users__user-info .user-info__txt .user-info__txt--user-name {
  margin: 0;
  font-size: 1em;
}

.user-info__profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.menu__backwards-btn {
  color: #f3ecff;
}

.main-sec {
  overflow: auto;
  padding: 1em;
}

.main-sec__users-container {
  border: 1px solid #4e60ff;
  background-color: #f3ecff;
  -webkit-box-shadow: 1px 1px 15px 0px #f3ecff;
          box-shadow: 1px 1px 15px 0px #f3ecff;
  border-radius: 10px;
  padding: 1em;
  margin: auto auto;
}

.users a {
  text-decoration: none;
  color: inherit;
}

.users__item-container {
  padding: 1em 0;
}

.users__item-container .users__user-info {
  color: #000;
  padding: 0 0.5em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.users__item-container .users__user-info .user-info__txt {
  padding: 0;
  text-align: center;
}

.users__item-container .user-info__circle--status {
  margin: 0 20px;
  width: 10px;
  height: 10px;
  background-color: #4e60ff;
  border-radius: 50%;
}

.users__item-container .status--active-user {
  opacity: 1;
}

.users__item-container .status--inactive-user {
  opacity: 0.15;
}

.chat-container__form-container {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  bottom: 0;
  padding: 0.5em;
  border-radius: 10px 10px 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f3ecff;
  z-index: 1;
}

.chat-container__form-container > .chat-message-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chat-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  padding: 0 0.5em 0.5em;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.chat-box__incoming-msg-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.chat-box__incoming-msg-container .user-info__profile-pic {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.chat-box__message--incoming-msg, .chat-box__message--outgoing-msg {
  position: relative;
  padding: 1em;
  max-width: 65%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 15px -4px #000;
          box-shadow: 0px 0px 15px -4px #000;
  margin: 0.5em 0 0.5em 0.5em;
  border-radius: 15px;
  border: 1px solid;
}

.chat-box__message--incoming-msg .msg-box__span--corner, .chat-box__message--outgoing-msg .msg-box__span--corner {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: inherit;
  bottom: -3px;
  position: absolute;
  border: 1px solid;
  border-top-color: transparent;
}

.chat-box__message--incoming-msg {
  -ms-flex-item-align: start;
      align-self: flex-start;
  background-color: #f3ecff;
  color: #000;
}

.chat-box__message--incoming-msg .msg-box__span--corner {
  left: -3px;
  border-radius: 10px 0px;
  border-right-color: transparent;
}

.chat-box__message--outgoing-msg {
  -ms-flex-item-align: end;
      align-self: flex-end;
  background-color: #4e60ff;
  color: #f3ecff;
}

.chat-box__message--outgoing-msg .msg-box__span--corner {
  right: -3px;
  border-radius: 0 10px;
  border-left-color: transparent;
}

.form__msg-bar {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.form__send-btn-container {
  padding-left: 0.125em;
}

.form__send-btn-container > .send-btn {
  cursor: pointer;
  border: 1px solid #f3ecff;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: #003abd;
  color: #f3ecff;
  -webkit-box-shadow: 0px 0px 5px 0px #000;
          box-shadow: 0px 0px 5px 0px #000;
}

.form__send-btn-container > .send-btn:hover {
  opacity: 0.7;
}

.form__send-btn-container > .send-btn > i.fa-square-arrow-up-right {
  font-size: 1rem;
}

.chat-box__paragraph--no-msg-yet {
  text-align: center;
  background-color: #f3ecff;
  color: #000;
  padding: 1em 6em;
  border-radius: 20px;
  opacity: 0.6;
  margin: auto;
  -webkit-box-shadow: 0px 0px 10px 0px #000;
          box-shadow: 0px 0px 10px 0px #000;
}

/*  
            +-+-+-+- footer section -+-+-+-+  
*/
.footer-sec {
  margin-top: auto;
  padding: 1em 2em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #003abd;
  border-radius: 10px 10px 0 0;
}

.footer-sec .footer-sec__paragraph--copy-right {
  color: #f3ecff;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */