// Scrollbar customization

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-thumb {
  background: $bold_theme_clr;
  &:hover {
    background: $bold_theme_clr;
  }
}

::-webkit-scrollbar-track {
  background-color: $bg_clr;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  border-radius: 0.625rem;
}
