//          Fonts

@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
$main_font: "Lato", sans-serif;

//          Colors
$dark_inactive_clr: #555; // Disabled Color
$white_clr: #f3ecff;
$black_clr: #000;
$gray_clr: #cbcdd3;
$dark_clr: #777;
$error_clr: #f44336; // Error Color
$orange_clr: #ffc39e;
$success_clr: #034aff; // Success Color
$secondary_clr: #00ce56;

//          Theme preferences

$bg_clr: $white_clr; // Background Color
$fg_clr: $black_clr; // Foreground Color
$bold_theme_clr: #004cff;
$light_theme_clr: #4e60ff; // Main Color
$secondary_theme_clr: #bd0088;

$bg_img_lg: linear-gradient(
  215deg,
  $bg_clr 40%,
  $bold_theme_clr 100%
); // Background Image Linear Gradient
